* {
  box-sizing: border-box;
}

body {
    font-family: 'Baloo Bhaina 2', cursive;
/*
    max-width: 800px;
    margin: auto;
*/
}
    
.welcomeText {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

input {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.col-tags {
    float: left;
    position: relative;
    width: 20%;
    padding-top: 5px;
}

.col-texts {
    width: 80%;
    text-align: center;
}

.row_form {
    padding: 5px;
    text-align: center;
}

.row {
    padding: 5px;
    text-align: center;
    margin-left: 200px;
    margin-top: 50px;
}

form {
    padding-left: 200px;
}

#genres {
    margin-top: 10px;
}

.button {
    background-color: aqua;
    color: #fff;
    border-radius: 15px;
    transition: 0.4s ease-out;
    margin-top: 40px;
    width: 25%;
}

.button:hover {
    background-color: #0ba7a7;
}